/*-- scss:uses --*/
/*-- scss:mixins --*/
/*-- scss:defaults --*/
$secuweb-dark-blue: #044e8b;
$secuweb-blue: #0e6fb6;
$secuweb-marine: #2cb3a5;
$secuweb-green: #9bc444;
$secuweb-red: #dc5d57;
$secuweb-orange: #f18749;
$knows-dark-green: #0ead69;
$solid-purple: #7c4dff;
/*-- scss:functions --*/
/*-- scss:rules --*/
.center-logo {
  position: absolute;
  max-width: 6vw;
  max-height: 4.4rem;
  bottom: 5px;
  right: calc(50% - 3vw);
  z-index: 1;
}
.corner-logo {
  position: absolute;
  max-width: 5vw;
  max-height: 3.4rem;
  bottom: 5px;
  right: 5px;
  z-index: 1;
}
.ex {
  font-size: .75em;
  font-style: italic;
  color: rgb(142, 142, 142);
}
.dark-green { color: $knows-dark-green; }
.dark-blue { color: $secuweb-dark-blue; }
.blue { color: $secuweb-blue; }
.marine { color: $secuweb-marine; }
.green { color: $secuweb-green; }
.red { color: $secuweb-red; }
.orange { color: $secuweb-orange; }
.purple { color: $solid-purple; }
.reveal {
  .header-logo img {
    max-width: 7.5vw;
    max-height: 8.4rem;
  }
  .slides {
    table, table tr:last-child td {
      border-bottom: none;
    }
    table td, table th {
      vertical-align: middle;
    }
  }
  blockquote {
    margin-bottom: 1em;

    h4 {
      color: rgb(96, 79, 220);
    }
  }
  ul ul, ul ol, ol ul, ol ol {
    margin-left: 20px;

    li {
      font-size: .8em;
      list-style: none;
    }
  }
}
.remark-nope {
  color: #ec1c31;
  font-weight: 400;
}
.remark-oidc {
  color: #18ad67;
  font-weight: 400;
}
.fn-custom {
  margin-left: 1em;

  ::before {
    content: '*';
    font-weight: 300;
    margin-left: -3px;
    padding-right: 10px;
  }
}
.section-block {
  margin: 2em 0;
}
